@import url('fonts/fonts.css');

/* General styling */
body.adminimal-theme div.admin-panel.admin {
    /*background: url("images/config/gears-medium.png") no-repeat scroll 100% 50% #F8F8F8;*/
    padding: 10px 100px 10px 10px;
	position:relative;
	overflow:hidden;
}

body.adminimal-theme div.admin-panel.admin:after {
	font-family:'flatmin';
	content: 'm';
	position:absolute;
	bottom:19px;
	right:-3px;
	color: #dae1e5;
	font-size:70px;
}

body.adminimal-theme div.admin-panel.admin h3 {
    /*background: url("images/config/gears-small.png") no-repeat scroll 0 0 transparent;*/
    line-height: 26px;
	padding-left:29px;
	position:relative;
}

body.adminimal-theme div.admin-panel.admin h3:before {
	font-family:'flatmin';
	content: 'm';
	padding-top:3px;
	line-height:23px;
	font-size:29px;
	position:absolute;
	left:0;
}

/*People menu */
body.adminimal-theme div.admin-panel.admin.people:after,
body.adminimal-theme div.admin-panel.admin.people h3:before {
    content: 'b';
}

/* Content menu */
body.adminimal-theme div.admin-panel.admin.content:after,
body.adminimal-theme div.admin-panel.admin.content h3:before {
    content: 'a';
}

/* Date menu */
body.adminimal-theme div.admin-panel.admin.date:after,
body.adminimal-theme div.admin-panel.admin.date h3:before {
	content: 'q';
}

/* Media menu */
body.adminimal-theme div.admin-panel.admin.media:after,
body.adminimal-theme div.admin-panel.admin.media h3:before {
    content: 'p';
}

/* Search menu */
body.adminimal-theme div.admin-panel.admin.search:after,
body.adminimal-theme div.admin-panel.admin.search h3:before {
    content: 't';
}

/* Regional menu */
body.adminimal-theme div.admin-panel.admin.regional:after,
body.adminimal-theme div.admin-panel.admin.regional h3:before {
    content: 'r';
}

body.adminimal-theme div.admin-panel.admin.services:after,
body.adminimal-theme div.admin-panel.admin.services h3:before {
    content: 's';
}

/* User Interface menu */
body.adminimal-theme div.admin-panel.admin.user-interface:after,
body.adminimal-theme div.admin-panel.admin.user-interface h3:before {
    content: 'J';
}

/* Development menu */
body.adminimal-theme div.admin-panel.admin.development:after,
body.adminimal-theme div.admin-panel.admin.development h3:before {
    content: 'y';
}

/* Organic Groups */
body.adminimal-theme div.admin-panel.admin.group:after,
body.adminimal-theme div.admin-panel.admin.group h3:before {
    content: 'G';
}

/* Messaging */
body.adminimal-theme div.admin-panel.admin.messaging:after,
body.adminimal-theme div.admin-panel.admin.messaging h3:before {
    content: 'H';
}

/* Workflow */
body.adminimal-theme div.admin-panel.admin.workflow:after,
body.adminimal-theme div.admin-panel.admin.workflow h3:before {
    content: 'f';
}