@import url('fonts/fonts.css');

div#toolbar a#edit-shortcuts {
  float: left;
  padding: 27px 10px 3px 10px;
  margin: 5px 0;
  height:0;
  overflow: hidden;
  width:20px;
  color: #7F8C8D;
  background:#ECF0F1;
  border-top: 2px solid #95A5A6;
  
  margin-right: 5px; /* LTR */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  position:relative;
}

div#toolbar a#edit-shortcuts:after {
	font-family:'flatmin';
	content: 'a';
	font-size:18px;
	padding-top:1px;
	line-height:23px;
	text-align:center;
	width:100%;
	position:absolute;
	top: 3px;
	left: 0;
}

div#toolbar a#edit-shortcuts:focus,
div#toolbar a#edit-shortcuts:hover,
div#toolbar a#edit-shortcuts.active {
  color: #000;
  border-top-color: #7F8C8D;
  background:#95A5A6;
}

div#toolbar div.toolbar-shortcuts ul {
  padding: 5px 0;
  line-height: 24px;
  float: left; /* LTR */
  margin-left:5px; /* LTR */
}

div#toolbar div.toolbar-shortcuts ul li a {
	display:block;
  padding: 3px 20px;
  background:#fff;
  color:#000;
  border-bottom:2px solid #ededed;
  
  margin-right: 5px; /* LTR */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  transition:all 0.2s;
}

div#toolbar div.toolbar-shortcuts ul li a:focus,
div#toolbar div.toolbar-shortcuts ul li a:hover,
div#toolbar div.toolbar-shortcuts ul li a.active:focus,
div#toolbar div.toolbar-shortcuts ul li a.active:hover,
div#toolbar div.toolbar-shortcuts ul li a.active {
	color:#fff;
  background:#0074BD;
  border-bottom-color:#00609d;
}

div#toolbar div.toolbar-shortcuts span.icon {
  float: left; /* LTR */
  background: #444;
  width: 30px;
  height: 30px;
  margin-right: 5px; /* LTR */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.add-or-remove-shortcuts {
  padding-top: 5px;
}

div.add-or-remove-shortcuts a span.icon {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-left:8px;
  position:relative;
}

div.add-or-remove-shortcuts a span.icon:before {
	font-family: 'flatmin';
	color:#27AE60;
	background: #fff;
	padding-top:2px;
	line-height:18px;
	width:20px;
	text-align:center;
	content: 'g';
	position:absolute;
	border-radius: 6px;
	left:0;
	top: 0;
	
	transition: color 0.2s, background-color 0.2s;
}

div.add-or-remove-shortcuts.remove-shortcut a span.icon:before {
	color:#C0392B;
	content: 'h';
}

div.add-or-remove-shortcuts a:focus span.icon:before,
div.add-or-remove-shortcuts a:hover span.icon:before {
	border-radius: 6px 0 0 6px;
	color: #fff;
  	background-color: #27AE60;
}

div.add-or-remove-shortcuts.remove-shortcut a:focus span.icon:before,
div.add-or-remove-shortcuts.remove-shortcut a:hover span.icon:before {
  	background-color: #C0392B;
}

div.add-or-remove-shortcuts a span.text {
  float: left;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  background-color: #27AE60;
  padding: 0 10px 0 5px;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  
  opacity: 0;
  
  transition:opacity .2s;
}

div.add-or-remove-shortcuts.remove-shortcut a span.text {
  background-color: #C0392B;
}

div.add-or-remove-shortcuts a:focus span.text,
div.add-or-remove-shortcuts a:hover span.text {
	opacity: 1;
}

#shortcut-set-switch .form-type-radios {
  padding-bottom: 0;
  margin-bottom: 0;
}

#shortcut-set-switch .form-item-new {
  padding-top: 0;
  padding-left: 17px; /* LTR */
}
