@import url('fonts/fonts.css');


body.toolbar {
  padding-top: 45px;
}
body.toolbar-drawer {
  padding-top: 5.3em;
}

/**
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
#toolbar,
#toolbar * {
  border: 0;
  font-size: 100%;
  line-height: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left; /* LTR */
  vertical-align: baseline;
}

/**
 * Base styles.
 *
 * We use a keyword for the toolbar font size to make it display consistently
 * across different themes, while still allowing browsers to resize the text.
 */
#toolbar {
  background: #BDC3C7;
  color: #000;
  font-family: Open Sans,Helvetica,sans-serif;
  font-size: 14px;
  left: 0;
  margin: 0 -20px;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 600;
}
#toolbar div.collapsed {
  display: none;
  visibility: hidden;
}
#toolbar a {
	color:#fff;
  text-decoration: none;
}
#toolbar ul li,
#toolbar ul li a {
  float: left; /* LTR */
}

/**
 * Administration menu.
 */
#toolbar div.toolbar-menu {
  background: #2d3e50;
  line-height: 20px;
  position: relative;
}

#toolbar div.toolbar-menu ul li.home a {
	/*width: 40px;*/
	position:relative;
	background:#16A085;
}

#toolbar div.toolbar-menu ul li.home a:hover,
#toolbar div.toolbar-menu ul li.home a:focus,
#toolbar div.toolbar-menu ul li.home a:active,
#toolbar div.toolbar-menu ul li.home.active a,
#toolbar div.toolbar-menu ul li.home.active a:hover {
	background: #1ABC9C;
	border-bottom-color:#16A085;
}

#toolbar-home a span {
  /*background: url(toolbar.png) no-repeat 0 -45px;*/
  display: block;
  height: 14px;
  margin: 3px 0px;
  text-indent: -9999px;
  vertical-align: text-bottom;
  width: 11px;
}

#toolbar-home a:after {
	font-family:'flatmin';
	content: 'l';
	font-size:18px;
	padding-top:3px;
	line-height:37px;
	text-align:center;
	width:100%;
	position:absolute;
	top: 0;
	left: 0;
}

#toolbar div.toolbar-menu ul li.logout a {
	padding-right: 35px;
	font-size:10px;
	position:relative;
	background:#C0392B;
}


#toolbar div.toolbar-menu ul li.account a {
	font-size:10px;
}

#toolbar div.toolbar-menu ul li.logout a:hover,
#toolbar div.toolbar-menu ul li.logout a:focus,
#toolbar div.toolbar-menu ul li.logout a:active {
	background: #990000;
	border-color:#C0392B;
}

#toolbar .logout a:after {
	font-family:'flatmin';
	content: 'c';
	font-size:18px;
	padding-top:3px;
	line-height:37px;
	position:absolute;
	top: 0;
	right: 8px;
}


#toolbar-user {
  float: right; /* LTR */
}
#toolbar-menu {
  float: left; /* LTR */
}
#toolbar div.toolbar-menu a.toggle {
  width: 30px;
   border-right:1px solid #121d28;
  height:0px;
  padding-top: 40px;
  overflow:hidden;
  float:left;
  position:relative;
}
#toolbar div.toolbar-menu a.toggle:after {
	font-family:'flatmin';
	content: 'v';
	line-height: 38px;
	font-size:10px;
	width:100%;
	text-align:center;
	position:absolute;
	top:2px;
	left:0;
}
#toolbar div.toolbar-menu a.toggle.toggle-active:after {
	content: 'u';
}

#toolbar div.toolbar-menu a.toggle:focus,
#toolbar div.toolbar-menu a.toggle:hover {
  background-position:  -50px -20px;
}
#toolbar div.toolbar-menu a.toggle-active {
  background-position:  -25px -20px;
}
#toolbar div.toolbar-menu a.toggle-active.toggle:focus,
#toolbar div.toolbar-menu a.toggle-active.toggle:hover {
  background-position:  -75px -20px;
}
#toolbar div.toolbar-menu ul li a {
  padding: 10px 20px;
  border:1px solid #121d28;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-width:3px;
  border-bottom-color: transparent;
  
  transition:all 0.2s;
}
#toolbar div.toolbar-menu ul li a:focus,
#toolbar div.toolbar-menu ul li a:hover,
#toolbar div.toolbar-menu ul li a:active,
#toolbar div.toolbar-menu ul li a.active:focus,
#toolbar div.toolbar-menu a.toggle:hover,
#toolbar div.toolbar-menu a.toggle:focus {
  background: #35495e;
  border-bottom-color: #415a76;
}
#toolbar div.toolbar-menu ul li a.active:hover,
#toolbar div.toolbar-menu ul li a.active:active,
#toolbar div.toolbar-menu ul li a.active,
#toolbar div.toolbar-menu ul li.active-trail a {
  background: #415a76;
  border-bottom-color: #35495e;
}

/**
 * Collapsed drawer of additional toolbar content.
 */
#toolbar div.toolbar-drawer {
  position: relative;
  padding: 0 10px 0 52px;
}

/**
 * IE 6 Fix.
 *
 * IE 6 shows elements with position:fixed as position:static so we replace
 * it with position:absolute; toolbar needs its z-index to stay above overlay.
 */
* html #toolbar {
  left: -20px;
  margin: 0;
  padding-right: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
