/* put any fonts in here */

@font-face {
    font-family: 'flatmin';
    src: url('flatmin-webfont.eot');
    src: url('flatmin-webfont.eot?#iefix') format('embedded-opentype'),
         url('flatmin-webfont.woff') format('woff'),
         url('flatmin-webfont.ttf') format('truetype'),
         url('flatmin-webfont.svg#flatmin_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}